<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- =======BOOTSTRAP======== -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!-- =======STYLE CSS======== -->
  <link rel="stylesheet" href="style.css">

  <title>Smoothies</title>
</head>
<body>
  <header class="d-flex justify-content-between py-3 mb-4 border-bottom shadow p-3 mb-5 bg-body rounded">
    <nav class="nav col-12 col-md-auto mb-2  mb-md-0">
      <h1><a href="/">Hello Smoothies</a></h1>
      <ul class="d-flex m-2">
        <% if (user) { %>
          <li>Welcome, <%= user.email %></li>
          <li><a href="/logout" class="badge badge-primary ml-3 p-2">Logout</a></li>
        <% } else { %>
          <li><a href="/login" class="badge badge-primary ml-3 p-2">Log in</a></li>
          <li><a href="/signup" class="badge badge-success ml-3 p-2">Sign up</a></li>
        <% } %>
      </ul>
    </nav>
  </header>
  