<%- include('partials/header.ejs')%>
<div class="container  border-bottom shadow p-3 mb-5 bg-body rounded">
  <h1>Login</h1>
  <form action="/login" >
    <div class="form-group g-3">
      <label for="login">Email: </label>
      <input type="email" class="form-control" name='email' placeholder="Enter Email">
    </div>
    <div class="form-group mt-2 email error"></div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" placeholder="Enter password" name='password' class="form-control">
    </div>
    <div class="form-group mt-2 password error"></div>
    <div class="form-group">
      <button class="btn btn-success">Login</button>
    </div>
  </form>
</div>

<script>
  const form = document.querySelector('form');
  const emailError = document.querySelector('.email.error');
  const passwordError = document.querySelector('.password.error');

  form.addEventListener('submit', async e => {
    e.preventDefault();

    // =====Reset Errors=====
    emailError.textContent = '';
    passwordError.textContent = '';

    const email = form.email.value;
    const password = form.password.value;

    try {
      const response = await fetch('/login', {
        method: 'POST',
        body: JSON.stringify({
          email, password
        }),
        headers: {
          'Content-Type': 'application/json'
        }
      });
      const data = await response.json();
       if(data.errors) {
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
      }
      if(data.user) {
        location.assign('/');
      }
    }catch(err) {
      console.log(err.message);
    }
  });
</script>